.home-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  .home--elements {
    width: 76%;
    @media screen and (max-width: 1050px) {
      width: 65%;
    }
    @media screen and (max-width: 900px) {
      flex: 1;
    }
  }
}
