.notification--list {
  padding: 20px;
  height: calc(100vh - 130px);
  .notification--div {
    display: flex;
    align-items: center;
    i {
      font-size: 20px;
      margin-right: 20px;
      color: #afc1d9;
    }
    padding: 15px 10px;
    border-bottom: 1px solid #d3d3d3;
    div {
      display: flex;
      align-items: center;
      span {
        margin-left: 10px;
      }
    }
  }
}
