.userpage-container {
  width: 71%;
  min-height: 100vh;
  @media screen and (max-width: 1050px) {
    width: 65%;
  }
  @media screen and (max-width: 900px) {
    flex: 1;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
